[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-core = "*"
langchain-openai = "*"
python-dotenv = "*"
langchain-community = "*"
tiktoken = "*"
langchain-google-genai = "*"
langchain-anthropic = "*"
fastapi = "*"
uvicorn = "*"
python-jose = "*"
python-multipart = "*"
authlib = "*"
google-auth = "*"
google-cloud-firestore = "*"
firebase-admin = "*"
google-auth-oauthlib = "*"
langchain-mistralai = "==0.0.5"
langchain = "==0.1.16"
langchain-together = "*"

[dev-packages]

[requires]
python_version = "3.11"
