[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-core = "*"
langchain-openai = "*"
python-dotenv = "*"
langchain = "*"
langchain-community = "*"
langchain-mistralai = "*"
tiktoken = "*"
langchain-google-genai = "*"
langchain-anthropic = "*"
fastapi = "*"
uvicorn = "*"
python-jose = "*"
python-multipart = "*"
authlib = "*"
google-auth = "*"

[dev-packages]

[requires]
python_version = "3.11"
